{{- $ChangeLogTableName := (printf "%s%s_change_log" .Prefix .TableName) -}}

{{- $GlobalChangeLogTableName := (printf "%s_change_log_global" .Prefix) -}}

CREATE TABLE IF NOT EXISTS {{$GlobalChangeLogTableName}} (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    change_table_id INTEGER,
    table_name TEXT
);

CREATE TABLE IF NOT EXISTS {{$ChangeLogTableName}} (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
{{- range $index, $col := .Columns}}
    val_{{$col.Name}} {{$col.DatabaseTypeName}},
{{- end}}
    type TEXT,
    created_at INTEGER,
    state INTEGER
);

CREATE INDEX IF NOT EXISTS {{$ChangeLogTableName}}_state_index ON {{$ChangeLogTableName}} (state);
